<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automaticVolumeControl.florian.automaticVolumeControl">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.automaticVolumeControl.florian.automaticVolumeControl.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.automaticVolumeControl.florian.automaticVolumeControl.SettingsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.automaticVolumeControl.florian.automaticVolumeControl.MainActivity"/>
        </activity>

        <activity android:name="com.automaticVolumeControl.florian.automaticVolumeControl.EarphoneModeChooserActivity">
        </activity>

        <service android:name="com.automaticVolumeControl.florian.automaticVolumeControl.BluetoothWatchService"/>

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event -->
        <receiver android:name="com.automaticVolumeControl.florian.automaticVolumeControl.BootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>